<%= provide(:title, '水揚げ情報一覧') %>
<%= provide(:class_text, 'landing--form') %>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="container">
      
      <div class="badge badge-secondary">絞り込み検索</div>
      
      <div class="row">
        
        <div class="col-sm-3">
          <%= form_with(scope: :search, url: landing_index_path, method: :get, local: true) do |f| %>
            <div>
              <%= f.label :landing_date, '水揚げ日', class: "label-#{yield(:class_text)}"  %>
            </div>
            <div>
              <%= f.date_field :landing_date, class: 'datetime-form-control' %>
            </div>
            <div>
              <%= f.submit '検索', class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>
        </div>
        
        <div class="col-sm-3">
          <%= form_with(scope: :search, url: landing_index_path, method: :get, local: true) do |f| %>
            <div>
              <%= f.label :landing_fishing_ground_name, '漁場名', class: "label-#{yield(:class_text)}"  %>
            </div>
            <div>
              <%= f.select :landing_fishing_ground_name, landing_fishing_ground_names, { include_blank: "---" }, class: 'form-control' %>
            </div>
            <div>
              <%= f.submit '検索', class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>
        </div>
        
        <div class="col-sm-3">
          <%= form_with(scope: :search, url: landing_index_path, method: :get, local: true) do |f| %>
            <div>
              <%= f.label :fish_species, '魚の種類', class: "label-#{yield(:class_text)}"  %>
            </div>
            <div>
              <%= f.select :fish_species, fish_species, { include_blank: "---" }, class: 'form-control' %>
            </div>
            <div>
              <%= f.submit '検索', class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>
        </div>
        
      </div>
      
      
          
    </div>
  </div>
</div>
<div>
  <%= link_to "絞り込み解除", landing_index_path, class: "btn btn-success" %>
</div>
<div>
  <%=  %>
</div>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    
    <thead>
      <tr>
        <th>水揚げ日</th>
        <th>水揚げ時間</th>
        <th>漁場</th>
        <th>天気</th>
        <th>水温</th>
        <th>魚の種類</th>
        <th>水揚げ量</th>
        <th>風</th>
        <th>波</th>
        <th>備考</th>
        <th>サイズ等</th>
        <th>単価</th>
        <th>買受</th>
        <th>出荷先</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @landings.each do |landing| %>

        <tr>
          <td><%= l(landing.landing_date, format: :short) %></td>
          <td><%= l(landing.landing_time, format: :time) %></td>
          <td><%= link_to landing.landing_fishing_ground_name, landing_show_ground_path(ground_id: landing.ground_id, id: landing.id) %></td>
          <td><%= landing.weather %></td>
          <% if landing.water_temperature.present? %>
            <td><%= landing.water_temperature %>℃</td>
          <% else %>
            <td><%= landing.water_temperature %></td>
          <% end %>
          <td><%= landing.fish_species %></td>
          <td><%= landing.landing_amount %></td>
          <td><%= landing.wind %></td>
          <td><%= landing.wave %></td>
          <td><%= landing.remarks %></td>
          <td><%= landing.size_etc %></td>
          <td><%= landing.unit_price %></td>
          <td><%= landing.purchase %></td>
          <td><%= landing.shipping_destination %></td>
          <td class="col-md-2 center">
            <%= link_to "修正", edit_ground_landing_path(ground_id: landing.ground_id, id: landing.id), class: "btn btn-primary" %>
            <%= link_to "削除", landing_destroy_ground_path(landing), method: :delete,
                                data: { confirm: "#{landing.landing_fishing_ground_name}の#{l(landing.landing_date, format: :short)}のデータを削除してよろしいですか？" },
                                class: "btn btn-danger" %>
          </td>
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>
