<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Attendance App", root_path, id: "logo" %>
    <ul class="nav navbar-nav navbar-expand-sm navbar-right">
      <li><%= link_to "ホーム", root_path %></li>
      <% if logged_in? %>
        <% if current_user.admin? %>
          <li><%= link_to "漁場一覧", grounds_path %></li>
        <% end %>
        
        <% if current_user.admin? || current_user.accounting? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              水揚げ情報<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "水揚げ情報作成", landing_pre_new_path %></li>
              <li><%= link_to "水揚げ情報一覧", landing_index_path %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "水揚げ情報作成", landing_pre_new_path %></li>
          <li><%= link_to "水揚げ情報一覧", landing_index_path %></li>
        <% end %>
        
        <% if current_user.admin? || current_user.accounting? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              帳簿作成<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "振替伝票入力", transfer_slip_new_accounts_path %></li>
            </ul>
          </li>
        <% end %>
        
        <% if current_user.admin? || current_user.accounting? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              主要簿<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "仕訳帳", journal_books_accounts_path %></li>
              <li class="divider"></li>
              <li><%= link_to "総勘定元帳一覧", all_general_ledger_accounts_path %></li>
              <li class="divider"></li>
              <li><%= link_to "帳簿CSV出力", csv_accounts_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              決算書<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "貸借対照表", balance_sheet_accounts_path %></li>
              <li class="divider"></li>
              <li><%= link_to "損益計算書", profit_and_loss_statement_accounts_path %></li>
            </ul>
          </li>
        <% end %>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            ユーザー情報 <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "ユーザー情報", current_user %></li>
            <li><%= link_to "ユーザー情報変更", edit_user_path(current_user) %></li>
            <% if current_user.admin? %>
              <li><%= link_to "全てのユーザー", users_path %></li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
          </ul>
        </li>
        
      <% else %>
        <li><%= link_to "ログイン", login_path %></li>
      <% end %>
    </ul>
  </div>
</header>
