<tr class="nested-fields">
  <%= f.hidden_field :id %>
  <td>
    <div><%= f.select :account_title, @transfer_slip_account_titles, {include_blank: true}, class: "form-control js-searchable" %></div>
    <div class="compound-journal-form"><%= f.select :sub_account_title, @sub_account_titles, {include_blank: true}, class: "form-control js-searchable" %></div>
  </td>
  <td><%= f.select :tax_rate, @tax_rate_arys, {}, class: "form-control" %></td>
  <td class="bg-info"><%= f.number_field :amount, min: 0, value: params[:amount], class: "left-nested-amount-form form-control" %></td>
  <td>
    <div><%= f.select :right_account_title, @transfer_slip_account_titles, {include_blank: true}, class: "form-control js-searchable" %></div>
    <div class="compound-journal-form"><%= f.select :right_sub_account_title, @sub_account_titles, {include_blank: true}, class: "form-control js-searchable" %></div>
  </td>
  <td><%= f.select :right_tax_rate, @tax_rate_arys, {}, class: "form-control" %></td>
  <td class="bg-info"><%= f.number_field :right_amount, min: 0, value: params[:right_amount], class: "right-nested-amount-form form-control" %></td>
  <td><%= f.text_field :description, class: "form-control" %></td>
  <td><%= link_to_remove_association '削除', f, class: 'btn btn-danger nestedRemoveClass' %></td>
</tr>