<%= provide(:class_text, 'account--form') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title"><%= l(@account.accounting_date, format: :long) %>の売上帳編集</h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div>
            <%= form_with(model: @account, local: true, method: :patch) do |f| %>
              <table class="table table-bordered table-condensed table-hover" id="table-account">
                <thead>
                  <tr>
                    <th><%= f.label :accounting_date, class: "label-#{yield(:class_text)}" %></th>
                    <td><%= f.date_field :accounting_date, required: true, class: "form-control" %></td>
                  </tr>
                  <tr>
                    <th><%= f.label :customer, class: "label-#{yield(:class_text)}" %></th>
                    <td><%= f.text_field :customer, required: true, placeholder: "入力必須", class: "form-control" %></td>
                  </tr>
                  <tr>
                    <th><%= f.label :account_title, class: "label-#{yield(:class_text)}" %></th>
                    <td>
                      <%= f.label :account_title, class: "label-#{yield(:class_text)}" %>
                      <%= f.select :account_title, @select_account_title, {}, required: true, class: "form-control" %>
                      <div class="collapse" id="collapseNew">
                        <%= f.label :individual_amount, class: "label-#{yield(:class_text)} bg-success" %>
                        <%= f.number_field :individual_amount, step: "0.1", class: "form-control" %>
                        <%= f.label :account_title_2, class: "label-#{yield(:class_text)}" %>
                        <%= f.select :account_title_2, @select_account_title, {include_blank: true}, class: "form-control" %>
                        <%= f.label :individual_amount_2, class: "label-#{yield(:class_text)} bg-success" %>
                        <%= f.number_field :individual_amount_2, step: "0.1", class: "form-control" %>
                        <%= f.label :account_title_3, class: "label-#{yield(:class_text)}" %>
                        <%= f.select :account_title_3, @select_account_title, {include_blank: true}, include_blank: "", class: "form-control" %>
                        <%= f.label :individual_amount_3, class: "label-#{yield(:class_text)} bg-success" %>
                        <%= f.number_field :individual_amount_3, step: "0.1", class: "form-control" %>
                        <%= f.label :account_title_4, class: "label-#{yield(:class_text)}" %>
                        <%= f.select :account_title_4, @select_account_title, {include_blank: true}, include_blank: "", class: "form-control" %>
                        <%= f.label :individual_amount_4, class: "label-#{yield(:class_text)} bg-success" %>
                        <%= f.number_field :individual_amount_4, step: "0.1", class: "form-control" %>
                        <%= f.label :account_title_5, class: "label-#{yield(:class_text)}" %>
                        <%= f.select :account_title_5, @select_account_title, {include_blank: true}, include_blank: "", class: "form-control" %>
                        <%= f.label :individual_amount_5, class: "label-#{yield(:class_text)} bg-success" %>
                        <%= f.number_field :individual_amount_5, step: "0.1", class: "form-control" %>
                      </div>
                    <button type="button" class="btn btn-primary label-account--form" data-toggle="collapse" data-target="#collapseNew" aria-expanded="false" aria-controls="collapseNew">複合仕訳</button>
                    </td>
                  </tr>
                  <tr>
                    <th><%= f.label :product_name, class: "label-#{yield(:class_text)}" %></th>
                    <td><%= f.text_field :product_name, class: "form-control" %></td>
                  </tr>
                  <tr>
                    <th><%= f.label :quantity, class: "label-#{yield(:class_text)}" %></th>
                    <td><%= f.text_field :quantity, required: true, placeholder: "入力必須", class: "form-control" %></td>
                  </tr>
                  <tr>
                    <th><%= f.label :unit_price, class: "label-#{yield(:class_text)}" %></th>
                    <td><%= f.text_field :unit_price, required: true, placeholder: "入力必須", class: "form-control" %></td>
                  </tr>
                </thead>
              </table>
              <div>
                <label>売上戻り</label>
                <%= f.check_box :return_check_box, class: "form-check-input" %>
              </div>
              <div><%= f.submit "変更", class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>