<%= provide(:title, '貸借対照表') %>

<h2>貸借対照表</h2>
<div class="row">
  <div class="col-sm-6 col-lg-6">
    <table class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td class="text-center" colspan="2">【 資産 】</td>
        </tr>
        <tr>
          <td>　【 流動資産 】</td>
          <td></td>
        </tr>
        <tr>
          <td>　　【 現金/預金 】</td>
          <td></td>
        </tr>
        <% @cash_deposits.each do |cash_deposit| %>
          <tr>
            <td>　　　　<%= cash_deposit %></td>
            <td class="text-right"><%= "#{left_calc(cash_deposit).to_s(:delimited)}円"%></td>
          </tr>
        <% end %>
        <tr class="bg-success">
          <th>　　　　現金・預金　計</th>
          <td class="text-right"><%= "#{cash_deposits_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr>
          <td>　　【 売上債権 】</td>
          <td></td>
        </tr>
        <% @trade_receivables.each do |trade_receivable| %>
          <tr>
            <td>　　　　<%= trade_receivable %></td>
            <td class="text-right"><%= "#{left_calc(trade_receivable).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        <tr class="bg-success">
          <th>　　　　売上債権　計</th>
          <td class="text-right"><%= "#{trade_receivables_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr>
          <td>　　【 棚卸資産 】</td>
          <td></td>
        </tr>
        <% @inventories.each do |inventory| %>
          <tr>
            <td>　　　　<%= inventory %></td>
            <td class="text-right"><%= "#{left_calc(inventory).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        <tr class="bg-success">
          <th>　　　　棚卸資産　計</th>
          <td class="text-right"><%= "#{inventories_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr>
          <td>　　【 他流動資産 】</td>
          <td></td>
        </tr>
        <% @other_current_assets.each do |other_current_asset| %>
          <tr>
            <td>　　　　<%= other_current_asset %></td>
            <td class="text-right"><%= "#{left_calc(other_current_asset).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        <tr class="bg-success">
          <th>　　　　他流動資産　計</th>
          <td class="text-right"><%= "#{other_current_assets_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr class="bg-info">
          <th>　　流動資産　合計</th>
          <td class="text-right"><%= "#{current_assets_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr>
          <td>　【 固定資産 】</td>
          <td></td>
        </tr>
        <tr>
          <td>　　【 有形固定資産 】</td>
          <td></td>
        </tr>
        <% @tangible_fixed_assets.each do |tangible_fixed_asset| %>
          <tr>
            <td>　　　<%= tangible_fixed_asset %></td>
            <td class="text-right"><%= "#{left_calc(tangible_fixed_asset).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        <tr class="bg-success">
          <th>　　　有形固定資産　計</th>
          <td class="text-right"><%= "#{tangible_fixed_assets_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr>
          <td>　　【 無形固定資産 】</td>
          <td></td>
        </tr>
        <% @intangible_fixed_assets.each do |intangible_fixed_asset| %>
          <tr>
            <td>　　　<%= intangible_fixed_asset %></td>
            <td class="text-right"><%= "#{left_calc(intangible_fixed_asset).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        <tr class="bg-success">
          <th>　　　無形固定資産　計</th>
          <td class="text-right"><%= "#{intangible_fixed_assets_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr class="bg-info">
          <th>　固定資産　合計</th>
          <td class="text-right"><%= "#{fixed_assets_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr>
          <td>　【 繰延資産 】</td>
          <td></td>
        </tr>
        <% @deferred_assets.each do |deferred_asset| %>
          <tr>
            <td>　　<%= deferred_asset %></td>
            <td class="text-right"><%= "#{left_calc(deferred_asset).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        <tr class="bg-success">
          <th>　　繰延資産　計</th>
          <td class="text-right"><%= "#{deferred_assets_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr class="bg-danger">
          <th>資産　合計</th>
          <td class="text-right"><%= "#{assets_sum.to_s(:delimited)}円" %></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="col-sm-6 col-lg-6">
    <table class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td class="text-center" colspan="2">【 負債 】</td>
        </tr>
        <tr>
          <td>　【 流動負債 】</td>
          <td></td>
        </tr>
        <tr>
          <td>　　【 仕入債務 】</td>
          <td></td>
        </tr>
        <% @accounts_payable_trades.each do |accounts_payable_trade| %>
          <tr>
            <td>　　　　<%= accounts_payable_trade %></td>
            <td class="text-right"><%= "#{right_calc(accounts_payable_trade).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        <tr class="bg-success">
          <th>　　　　仕入債務　計</th>
          <td class="text-right"><%= "#{accounts_payable_trades_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr>
          <td>　　【 他流動負債 】</td>
          <td></td>
        </tr>
        <% @other_current_liabilities.each do |other_current_liability| %>
          <tr>
            <td>　　　　<%= other_current_liability %></td>
            <td class="text-right"><%= "#{right_calc(other_current_liability).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        <tr>
          <td>　　　　未払消費税等</td>
          <td class="text-right"><%= "#{accrued_consumption_tax.to_s(:delimited)}円" %></td>
        </tr>
        <tr class="bg-success">
          <th>　　他流動負債　計</th>
          <td class="text-right"><%= "#{other_current_liabilities_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr class="bg-info">
          <th>　流動負債　合計</th>
          <td class="text-right"><%= "#{current_liabilities_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr>
          <td>　【 固定負債 】</td>
          <td></td>
        </tr>
        <% @fixed_liabilities.each do |fixed_liability| %>
          <tr>
            <td>　　　<%= fixed_liability %></td>
            <td class="text-right"><%= "#{right_calc(fixed_liability).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        
        <tr class="bg-success">
          <th>　　固定負債　計</th>
          <td class="text-right"><%= "#{fixed_liabilities_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr class="bg-danger">
          <th>負債　合計</th>
          <td class="text-right"><%= "#{liabilities_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr>
          <td class="text-center" colspan="2">【 純資産 】</td>
        </tr>
        <tr>
          <td>　【 資本金 】</td>
          <td></td>
        </tr>
        <% @capital_stocks.each do |capital_stock| %>
          <tr>
            <td>　　<%= capital_stock %></td>
            <td class="text-right"><%= "#{right_calc(capital_stock).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        <tr class="bg-success">
          <th>　　資本金　合計</th>
          <td class="text-right"><%= "#{capital_stocks_sum.to_s(:delimited)}円" %></td>
        </tr>
        
        <tr>
          <td>　【 利益剰余金 】</td>
          <td></td>
        </tr>
        <% @retained_earnings.each do |retained_earning| %>
          <tr>
            <td>　　<%= retained_earning %></td>
            <td class="text-right"><%= "#{right_calc(retained_earning).to_s(:delimited)}円" %></td>
          </tr>
        <% end %>
        <tr>
          <td>　　当期純損益金額</td>
          <td class="text-right"><%= "#{current_net_income.to_s(:delimited)}円" %></td>
        </tr>
        <tr class="bg-success">
          <th>　利益剰余金　計</th>
          <td class="text-right"><%= "#{retained_earnings_amount_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr>
          <td>　【 評価・換算差額等 】</td>
          <td></td>
        </tr>
        <tr>
          <td>　　評価・換算差額等　</td>
          <td class="text-right"></td>
        </tr>
        <tr>
          <td>　【 新株予約権 】</td>
          <td></td>
        </tr>
        <tr>
          <td>　　新株予約権</td>
          <td class="text-right"></td>
        </tr>
        <tr class="bg-danger">
          <th> 純資産　合計</th>
          <td class="text-right"><%= "#{net_assets_sum.to_s(:delimited)}円" %></td>
        </tr>
        <tr class="bg-danger">
          <th> 負債及び純資産　合計</th>
          <td class="text-right"><%= "#{liabilities_and_net_assets_sum.to_s(:delimited)}円" %></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>
  </div>
</div>