<%= provide(:title, '貸借対照表') %>

<h2>貸借対照表</h2>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-account">
    <thead>
      <tr>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>【 資産 】</td>
        <td></td>
      </tr>
      <tr>
        <td>【 流動資産 】</td>
        <td></td>
      </tr>
      <tr>
        <td>【 現金/預金 】</td>
        <td></td>
      </tr>
      <tr>
        <td>現金</td>
        <td><%=  %></td>
      </tr>
      <tr>
        <td>普通預金</td>
        <td><%=  %></td>
      </tr>
      <tr>
        <td>普通預金２</td>
        <td>-</td>
      </tr>
      <tr>
        <td>当座預金</td>
        <td>-</td>
      </tr>
      <tr>
        <td>郵便貯金</td>
        <td>-</td>
      </tr>
      <tr>
        <td>定期預金</td>
        <td>-</td>
      </tr>
      <tr class="bg-success">
        <td>現金・預金計</td>
        <td><%=  %></td>
      </tr>
      <tr>
        <td>【 売上債権 】</td>
        <td></td>
      </tr>
      <tr>
        <td>受取手形</td>
        <td>-</td>
      </tr>
      <tr>
        <td>売掛金</td>
        <td>-</td>
      </tr>
      <tr class="bg-success">
        <td>売上債権　計</td>
        <td>-</td>
      </tr>
      <tr>
        <td>【 棚卸資産 】</td>
        <td></td>
      </tr>
      <tr>
        <td>商品</td>
        <td>-</td>
      </tr>
      <tr>
        <td>製品</td>
        <td>-</td>
      </tr>
      <tr>
        <td>原材料</td>
        <td>-</td>
      </tr>
      <tr>
        <td>仕掛品</td>
        <td>-</td>
      </tr>
      <tr class="bg-success">
        <td>棚卸資産　計</td>
        <td>-</td>
      </tr>
      <tr>
        <td>【 他流動資産 】</td>
        <td>-</td>
      </tr>
      <tr>
        <td>仮払金</td>
        <td>-</td>
      </tr>
      <tr>
        <td>未収入金</td>
        <td>-</td>
      </tr>
      <tr class="bg-success">
        <td>他流動資産　合計</td>
        <td>-</td>
      </tr>
      <tr class="bg-info">
        <td>流動資産　合計</td>
        <td><%=  %></td>
      </tr>
      <tr>
        <td>【 固定資産 】</td>
        <td></td>
      </tr>
      <tr>
        <td>【 有形固定資産 】</td>
        <td></td>
      </tr>
      <tr>
        <td>建物</td>
        <td>-</td>
      </tr>
      <tr>
        <td>機械装置</td>
        <td>-</td>
      </tr>
      <tr>
        <td>車両運搬具</td>
        <td>-</td>
      </tr>
      <tr>
        <td>工具器具備品</td>
        <td>-</td>
      </tr>
      <tr>
        <td>一括償却資産</td>
        <td>-</td>
      </tr>
      <tr>
        <td>減価償却累計額</td>
        <td>-</td>
      </tr>
      <tr>
        <td>土地</td>
        <td>-</td>
      </tr>
      <tr class="bg-success">
        <td>有形固定資産　計</td>
        <td>-</td>
      </tr>
      <tr class="bg-info">
        <td>固定資産　合計</td>
        <td>-</td>
      </tr>
      <tr>
        <td>【 繰延資産 】</td>
        <td></td>
      </tr>
      <tr>
        <td>創立費</td>
        <td>-</td>
      </tr>
      <tr>
        <td>開業費</td>
        <td>-</td>
      </tr>
      <tr class="bg-success">
        <td>繰延資産　計</td>
        <td>-</td>
      </tr>
      <tr class="bg-danger">
        <td>資産　合計</td>
        <td><%=  %></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-account">
    <thead>
      <tr>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>【 負債 】</td>
        <td></td>
      </tr>
      <tr>
        <td>【 流動負債 】</td>
        <td></td>
      </tr>
      <tr>
        <td>【 仕入債務 】</td>
        <td></td>
      </tr>
      <tr>
        <td>買掛金</td>
        <td>-</td>
      </tr>
      <tr>
        <td>支払手形</td>
        <td>-</td>
      </tr>
      <tr class="bg-success">
        <td>仕入債務　計</td>
        <td>-</td>
      </tr>
      <tr>
        <td>【 他流動負債 】</td>
        <td></td>
      </tr>
      <tr>
        <td>短期借入金</td>
        <td>-</td>
      </tr>
      <tr class="bg-success">
        <td>他流動負債　計</td>
        <td>-</td>
      </tr>
      <tr class="bg-info">
        <td>流動負債　合計</td>
        <td>-</td>
      </tr>
      <tr>
        <td>【 固定負債 】</td>
        <td></td>
      </tr>
      <tr>
        <td>長期借入金</td>
        <td>-</td>
      </tr>
      <tr class="bg-success">
        <td>固定負債　計</td>
        <td>-</td>
      </tr>
      <tr class="bg-danger">
        <td>負債　合計</td>
        <td>-</td>
      </tr>
      <tr>
        <td>【 純資産 】</td>
        <td></td>
      </tr>
      <tr>
        <td>【 資本金 】</td>
        <td></td>
      </tr>
      <tr>
        <td>資本金</td>
        <td>-</td>
      </tr>
      <tr class="bg-success">
        <td>資本金　合計</td>
        <td>-</td>
      </tr>
      <tr class="bg-danger">
        <td> 純資産　合計</td>
        <td>-</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>