<%= provide(:title, '現金出納帳') %>

<h2><%= l(@first_day, format: :year) %>現金出納帳</h2>
<div class="btn-users-show">
  <% unless @first_day <= @cash_accounts.first.accounting_date %>
    <%= link_to "⇦ 月", cash_index_accounts_path(accounting_date: @first_day.prev_month), class: "btn btn-info" %>
  <% else %>
    <%= link_to "⇦ 月", cash_index_accounts_path(accounting_date: @first_day.prev_month), class: "btn btn-info disabled" %>
  <% end %>
  <% unless @first_day >= @cash_accounts.last.accounting_date.beginning_of_month %>
    <%= link_to "月 ⇨", cash_index_accounts_path(accounting_date: @first_day.next_month), class: "btn btn-info" %>
  <% else %>
    <%= link_to "月 ⇨", cash_index_accounts_path(accounting_date: @first_day.next_month), class: "btn btn-info disabled" %>
  <% end %>
  <% unless @first_day.prev_year <= @cash_accounts.first.accounting_date%>
    <%= link_to "⇦ 年", cash_index_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success" %>
  <% else %>
    <%= link_to "⇦ 年", cash_index_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day.next_year >= @cash_accounts.last.accounting_date%>
    <%= link_to "年 ⇨", cash_index_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success" %>
  <% else %>
    <%= link_to "年 ⇨", cash_index_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day <= @cash_accounts.first.accounting_date %>
    <%= link_to "⇦ 先頭", cash_index_accounts_path(accounting_date: @cash_accounts.first.accounting_date), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "⇦ 先頭", cash_index_accounts_path(accounting_date: @cash_accounts.first.accounting_date), class: "btn btn-danger disabled" %>
  <% end %>
  <% unless @first_day >= @cash_accounts.last.accounting_date.beginning_of_month %>
    <%= link_to "末尾 ⇨", cash_index_accounts_path(accounting_date: @cash_accounts.last.accounting_date), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "末尾 ⇨", cash_index_accounts_path(accounting_date: @cash_accounts.last.accounting_date), class: "btn btn-danger disabled" %>
  <% end %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-account">
    <thead>
      <tr>
        <th>日付</th>
        <th>勘定科目</th>
        <th>摘要</th>
        <th>収入</th>
        <th>支出</th>
        <th>差引残高</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!--日付が当初月以前かつ、一番近い日付のデータの値が空かどうか-->
        <% unless @amount_carried_forward.last.nil? %>
          <td colspan="5">前月より繰越</td>
        <% else %>
          <td colspan="5">当座預金残高</td>
        <% end %>
        
        <% unless @amount_carried_forward.last.nil? %>
          <td>￥<%= @amount_carried_forward.last.balance %></td>
        <% else %>
          <td>￥<%= @cash_initial_deposit %></td>
        <% end %>
        <td></td>
      </tr>
      <% @cash_accounts.each do |account| %>
        <% if @this_month.include?(Date.parse(account[:accounting_date].to_s)) %>
          <tr>
            <td><%= l(account.accounting_date, format: :short) %></td>
            <td>
              <div>
                <%= account.account_title %>
                <% if account.individual_amount.present? %>
                　￥<%= account.individual_amount %>
                <% end %>
              </div>
              <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                <div>
                  <%= account.account_title_2 %>
                  　￥<%= account.individual_amount_2 %>
                </div>
              <% end %>
              <% if account.account_title_3.present? %>
                <div>
                  <%= account.account_title_3 %>
                  　￥<%= account.individual_amount_3 %>
                </div>
              <% end %>
              <% if account.account_title_4.present? %>
                <div>
                  <%= account.account_title_4 %>
                  　￥<%= account.individual_amount_4 %>
                </div>
              <% end %>
              <% if account.account_title_5.present? %>
                <div>
                  <%= account.account_title_5 %>
                  　￥<%= account.individual_amount_5 %>
                </div>
              <% end %>
            </td>
            <td><%= account.description %></td>
            
            <% if account.income.present? %>
              <td>￥<%= account.income %></td>
            <% else %>
              <td></td>
            <% end %>
            
            <% if account.expense.present? %>
              <td>￥<%= account.expense %></td>
            <% else %>
              <td></td>
            <% end %>
            
            <% if account.income.present? || account.expense.present? %>
              <td>￥<%= account.balance %></td>
            <% else %>
              <td></td>
            <% end %>
            
            <td class="center">
              <%= link_to "修正", cash_edit_account_path(account), remote: true, class: "btn btn-primary" %>
              <%= link_to "削除", cash_destroy_account_path(account), method: :delete,
                                    data: { confirm: "#{l(account.accounting_date, format: :long)}の現金出納帳データを削除してよろしいですか？" },
                                    class: "btn btn-danger" %>
              
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div id="cash_edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
