<%= provide(:title, '現金出納帳') %>

<h2><%= l(@first_day, format: :month) %>現金出納帳</h2>
<div class="btn-users-show">
  <% unless @first_day <= @cash_accounts.first.accounting_date %>
    <%= link_to "⇦ 月", cash_index_accounts_path(accounting_date: @first_day.prev_month), class: "btn btn-info" %>
  <% else %>
    <%= link_to "⇦ 月", cash_index_accounts_path(accounting_date: @first_day.prev_month), class: "btn btn-info disabled" %>
  <% end %>
  <% unless @first_day >= @today.beginning_of_month %>
    <%= link_to "月 ⇨", cash_index_accounts_path(accounting_date: @first_day.next_month), class: "btn btn-info" %>
  <% else %>
    <%= link_to "月 ⇨", cash_index_accounts_path(accounting_date: @first_day.next_month), class: "btn btn-info disabled" %>
  <% end %>
  <% unless @first_day.prev_year <= @cash_accounts.first.accounting_date %>
    <%= link_to "⇦ 年", cash_index_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success" %>
  <% else %>
    <%= link_to "⇦ 年", cash_index_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day.next_year >= @today %>
    <%= link_to "年 ⇨", cash_index_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success" %>
  <% else %>
    <%= link_to "年 ⇨", cash_index_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day <= @cash_accounts.first.accounting_date %>
    <%= link_to "⇦ 先頭", cash_index_accounts_path(accounting_date: @cash_accounts.first.accounting_date.beginning_of_month), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "⇦ 先頭", cash_index_accounts_path(accounting_date: @cash_accounts.first.accounting_date.beginning_of_month), class: "btn btn-danger disabled" %>
  <% end %>
  <% unless @first_day >= @cash_accounts.last.accounting_date.beginning_of_month %>
    <%= link_to "末尾 ⇨", cash_index_accounts_path(accounting_date: @cash_accounts.last.accounting_date.beginning_of_month), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "末尾 ⇨", cash_index_accounts_path(accounting_date: @cash_accounts.last.accounting_date.beginning_of_month), class: "btn btn-danger disabled" %>
  <% end %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-account">
    <thead>
      <tr>
        <th>日付</th>
        <th>勘定科目</th>
        <th>摘要</th>
        <th>収入</th>
        <th>支出</th>
        <th>差引残高</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!--日付が当初月以前かつ、一番近い日付のデータの値が空かどうか-->
        <% unless @amount_carried_forward.last.nil? %>
          <td colspan="5">前月より繰越</td>
        <% else %>
          <td colspan="5">現金残高</td>
        <% end %>
        
        <% unless @amount_carried_forward.last.nil? %>
          <td>￥<%= @amount_carried_forward.last.balance %></td>
        <% else %>
          <td>￥<%= @cash_initial_deposit %></td>
        <% end %>
        <td></td>
      </tr>
      <% @cash_accounts.each do |account| %>
        <% if @this_month.include?(Date.parse(account[:accounting_date].to_s)) %>
          <tr>
            <% if account.subsidiary_journal_species == 1 %>
              <td><%= l(account.accounting_date, format: :short) %></td>
              <td>
                <% if account.account_title_2.present? || account.account_title_3.present? || account.account_title_4.present? || account.account_title_5.present? %>
                  <div>（諸口）</div>
                <% end %>
                <div>
                  <%= account.account_title %>
                  <% if account.individual_amount.present? %>
                  　￥<%= account.individual_amount %>
                  <% end %>
                </div>
                <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                  <div>
                    <%= account.account_title_2 %>
                    　￥<%= account.individual_amount_2 %>
                  </div>
                <% end %>
                <% if account.account_title_3.present? %>
                  <div>
                    <%= account.account_title_3 %>
                    　￥<%= account.individual_amount_3 %>
                  </div>
                <% end %>
                <% if account.account_title_4.present? %>
                  <div>
                    <%= account.account_title_4 %>
                    　￥<%= account.individual_amount_4 %>
                  </div>
                <% end %>
                <% if account.account_title_5.present? %>
                  <div>
                    <%= account.account_title_5 %>
                    　￥<%= account.individual_amount_5 %>
                  </div>
                <% end %>
              </td>
              <td><%= account.description %></td>
              
              <% if account.income.present? %>
                <td>￥<%= account.income %></td>
              <% else %>
                <td></td>
              <% end %>
              
              <% if account.expense.present? %>
                <td>￥<%= account.expense %></td>
              <% else %>
                <td></td>
              <% end %>
              
              <% if account.income.present? || account.expense.present? %>
                <td>￥<%= account.balance %></td>
              <% else %>
                <td></td>
              <% end %>
              
              <td class="center">
                <%= link_to "修正", cash_edit_account_path(account), remote: true, class: "btn btn-primary" %>
                <%= link_to "削除", cash_destroy_account_path(account), method: :delete,
                                      data: { confirm: "#{l(account.accounting_date, format: :long)}の現金出納帳データを削除してよろしいですか？" },
                                      class: "btn btn-danger" %>
              </td>
              
            <% elsif account.subsidiary_journal_species == 3 || account.subsidiary_journal_species == 4 %>
              <td><%= l(account.accounting_date, format: :short) %></td>
              <% if account.subsidiary_journal_species == 3 %>
                <td>仕入</td>
              <% elsif account.subsidiary_journal_species == 4 %>
                <td>売上</td>
              <% end %>
              <% if account.subsidiary_journal_species == 3 %>
                <% if account.return_check_box == "0" %>
                  <td><%= "【#{account.customer}】#{account.product_name}仕入" %></td>
                <% elsif account.return_check_box == "1" %>
                  <td><%= "【#{account.customer}】#{account.product_name}仕入戻り" %></td>
                <% end %>
              <% elsif account.subsidiary_journal_species == 4 %>
                <% if account.return_check_box == "0" %>
                  <td><%= "【#{account.customer}】#{account.product_name}#{account.quantity}kg売上" %></td>
                <% elsif account.return_check_box == "1" %>
                  <td><%= "【#{account.customer}】#{account.product_name}#{account.quantity}kg売上戻り" %></td>
                <% end %>
              <% end %>
              
              <% if account.subsidiary_journal_species == 3 %>
                <% if account.return_check_box == "1" %>
                  <% if account.account_title == "現金" %>
                    <% if account.individual_amount.present? %>
                      <td>￥<%= account.individual_amount %></td>
                    <% else %>
                      <td>￥<%= account.breakdown %></td>
                    <% end %>
                  <% elsif account.account_title_2 == "現金" %>
                    <td>￥<%= account.individual_amount_2 %></td>
                  <% elsif account.account_title_3 == "現金" %>
                    <td>￥<%= account.individual_amount_3 %></td>
                  <% elsif account.account_title_4 == "現金" %>
                    <td>￥<%= account.individual_amount_4 %></td>
                  <% elsif account.account_title_5 == "現金" %>
                    <td>￥<%= account.individual_amount_5 %></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% elsif account.subsidiary_journal_species == 4 %>
                <% if account.return_check_box == "0" %>
                  <% if account.account_title == "現金" %>
                    <% if account.individual_amount.present? %>
                      <td>￥<%= account.individual_amount %></td>
                    <% else %>
                      <td>￥<%= account.breakdown %></td>
                    <% end %>
                  <% elsif account.account_title_2 == "現金" %>
                    <td>￥<%= account.individual_amount_2 %></td>
                  <% elsif account.account_title_3 == "現金" %>
                    <td>￥<%= account.individual_amount_3 %></td>
                  <% elsif account.account_title_4 == "現金" %>
                    <td>￥<%= account.individual_amount_4 %></td>
                  <% elsif account.account_title_5 == "現金" %>
                    <td>￥<%= account.individual_amount_5 %></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              
              <% if account.subsidiary_journal_species == 3 %>
                <% if account.return_check_box == "0" %>
                  <% if account.account_title == "現金" %>
                    <% if account.individual_amount.present? %>
                      <td>￥<%= account.individual_amount %></td>
                    <% else %>
                      <td>￥<%= account.breakdown %></td>
                    <% end %>
                  <% elsif account.account_title_2 == "現金" %>
                    <td>￥<%= account.individual_amount_2 %></td>
                  <% elsif account.account_title_3 == "現金" %>
                    <td>￥<%= account.individual_amount_3 %></td>
                  <% elsif account.account_title_4 == "現金" %>
                    <td>￥<%= account.individual_amount_4 %></td>
                  <% elsif account.account_title_5 == "現金" %>
                    <td>￥<%= account.individual_amount_5 %></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% elsif account.subsidiary_journal_species == 4 %>
                <% if account.return_check_box == "1" %>
                  <% if account.account_title == "現金" %>
                    <% if account.individual_amount.present? %>
                      <td>￥<%= account.individual_amount %></td>
                    <% else %>
                      <td>￥<%= account.breakdown %></td>
                    <% end %>
                  <% elsif account.account_title_2 == "現金" %>
                    <td>￥<%= account.individual_amount_2 %></td>
                  <% elsif account.account_title_3 == "現金" %>
                    <td>￥<%= account.individual_amount_3 %></td>
                  <% elsif account.account_title_4 == "現金" %>
                    <td>￥<%= account.individual_amount_4 %></td>
                  <% elsif account.account_title_5 == "現金" %>
                    <td>￥<%= account.individual_amount_5 %></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              
              <% if account.balance.present? %>
                <td>￥<%= account.balance %></td>
              <% else %>
                <td></td>
              <% end %>
              
              <% if account.subsidiary_journal_species == 3 %>
                <td class="center">
                  <%= link_to "修正", purchasing_edit_account_path(account), remote: true, class: "btn btn-primary" %>
                  <%= link_to "削除", purchasing_destroy_account_path(account), method: :delete,
                                        data: { confirm: "#{l(account.accounting_date, format: :long)}の現金出納帳データを削除してよろしいですか？" },
                                        class: "btn btn-danger" %>
                </td>
              <% elsif account.subsidiary_journal_species == 4 %>
                <td class="center">
                <%= link_to "修正", edit_account_path(account), remote: true, class: "btn btn-primary" %>
                <%= link_to "削除", account_path(account), method: :delete,
                                      data: { confirm: "#{l(account.accounting_date, format: :long)}の現金出納帳データを削除してよろしいですか？" },
                                      class: "btn btn-danger" %>
              </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">次月繰越</td>
        <% unless @this_month_last_balance.last.nil? %>
          <td>￥<%= @this_month_last_balance.last.balance %></td>
        <% else %>
          <td></td>
        <% end %>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div id="cash_edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="purchasing_edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>