<%= provide(:title, '当座預金出納帳編集') %>
<%= provide(:class_text, 'account--form') %>

<h2><%= l(@account.accounting_date, format: :long) %>の当座預金出納帳編集</h2>

<div>
  
  <table class="table table-bordered table-condensed table-hover" id="table-account">
    
    
    <thead>
      <tr>
        <th>日付</th>
        <th>摘要</th>
      </tr>
    </thead>
    
    <tbody>
      
      
      <tr>
      
        <td><%= l(@account.accounting_date, format: :long) %></td>
        
        <td>
          
            <%= form_with(model: @account, url: current_update_account_path(@account), local: true, method: :patch) do |f| %>
              <%= f.label :check_number, class: "label-#{yield(:class_text)}" %>
              <%= f.text_field :check_number, class: "form-control" %>
              <%= f.label :deposit, class: "label-#{yield(:class_text)}" %>
              <%= f.text_field :deposit, class: "form-control" %>
              <%= f.label :drawer, class: "label-#{yield(:class_text)}" %>
              <%= f.text_field :drawer, class: "form-control" %>
              <%= f.label :debit_credit, class: "label-#{yield(:class_text)}" %>
              <%= f.text_field :debit_credit, class: "form-control" %>
              <%= f.label :balance, class: "label-#{yield(:class_text)}" %>
              <%= f.text_field :balance, class: "form-control" %>
              
              
              <%= f.submit "更新", class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
            <% end %>
            </div>
          </div>
        </td>
        
        
        
      </tr>
      
    </tbody>
    
    
    
  </table>
</div>