<%= provide(:title, '当座預金出納帳作成') %>
<%= provide(:class_text, 'account--form') %>

<h2><%= l(@first_day, format: :year) %>の当座預金出納帳作成</h2>


<div>
  <%= form_with(model: @account, url: current_create_accounts_path, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <table class="table table-bordered table-condensed table-hover" id="table-account">
      <thead>
        <tr>
          <th><%= f.label :accounting_date, class: "label-#{yield(:class_text)}" %></th>
          <th><%= f.label :account_title, class: "label-#{yield(:class_text)}" %></th>
          <th><%= f.label :description, class: "label-#{yield(:class_text)}" %></th>
          <th><%= f.label :check_number, class: "label-#{yield(:class_text)}" %></th>
          <th><%= f.label :deposit, class: "label-#{yield(:class_text)}" %></th>
          <th><%= f.label :drawer, class: "label-#{yield(:class_text)}" %></th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td><%= f.date_field :accounting_date, required: true, class: "form-control" %></td>
          <td><%= f.text_field :account_title, required: true, placeholder: "入力必須", class: "form-control" %></td>
          <td><%= f.text_field :description, required: true, placeholder: "入力必須", class: "form-control" %></td>
          <td><%= f.text_field :check_number, required: true, placeholder: "入力必須", class: "form-control" %></td>
          <td><%= f.text_field :deposit, class: "form-control" %></td>
          <td><%= f.text_field :drawer, class: "form-control" %></td>
          <%= f.hidden_field :subsidiary_journal_species, value: 2 %>
        </tr>
      </tbody>
    </table>
    <div><%= f.submit "作成", class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %></div>
  <% end %>
</div>
              
              
              
              
              
              
              
              
              
              