<%= provide(:title, '総勘定元帳帳') %>

<h2><%= l(@first_day, format: :year) %>総勘定元帳帳</h2>

<div class="btn-users-show">
  <% unless @first_day <= @general_ledger_accounts.first.accounting_date %>
    <%= link_to "⇦ 月", general_ledger_accounts_path(accounting_date: @first_day.prev_month), class: "btn btn-info" %>
  <% else %>
    <%= link_to "⇦ 月", general_ledger_accounts_path(accounting_date: @first_day.prev_month), class: "btn btn-info disabled" %>
  <% end %>
  <% unless @first_day >= @general_ledger_accounts.last.accounting_date.beginning_of_month %>
    <%= link_to "月 ⇨", general_ledger_accounts_path(accounting_date: @first_day.next_month), class: "btn btn-info" %>
  <% else %>
    <%= link_to "月 ⇨", general_ledger_accounts_path(accounting_date: @first_day.next_month), class: "btn btn-info disabled" %>
  <% end %>
  <% unless @first_day.prev_year <= @general_ledger_accounts.first.accounting_date%>
    <%= link_to "⇦ 年", general_ledger_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success" %>
  <% else %>
    <%= link_to "⇦ 年", general_ledger_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day.next_year >= @general_ledger_accounts.last.accounting_date%>
    <%= link_to "年 ⇨", general_ledger_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success" %>
  <% else %>
    <%= link_to "年 ⇨", general_ledger_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day <= @general_ledger_accounts.first.accounting_date %>
    <%= link_to "⇦ 先頭", general_ledger_accounts_path(accounting_date: @general_ledger_accounts.first.accounting_date), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "⇦ 先頭", general_ledger_accounts_path(accounting_date: @general_ledger_accounts.first.accounting_date), class: "btn btn-danger disabled" %>
  <% end %>
  <% unless @first_day >= @general_ledger_accounts.last.accounting_date.beginning_of_month %>
    <%= link_to "末尾 ⇨", general_ledger_accounts_path(accounting_date: @general_ledger_accounts.last.accounting_date), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "末尾 ⇨", general_ledger_accounts_path(accounting_date: @general_ledger_accounts.last.accounting_date), class: "btn btn-danger disabled" %>
  <% end %>
</div>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-account">
    
    <thead>
      <tr>
        <th>日付</th>
        <th>適要</th>
        <th>勘定科目</th>
        <th>借方</th>
        <th>勘定科目</th>
        <th>貸方</th>
        <th>詳細／編集</th>
      </tr>
    </thead>
    
    <tbody>
      <% @general_ledger_accounts.each do |account| %>
        <% if @this_month.include?(Date.parse(account[:accounting_date].to_s)) %>
        <% if account.subsidiary_journal_species == 1 %>
          <tr class="success">
        <% elsif account.subsidiary_journal_species == 2 %>
          <tr class="info">
        <% elsif account.subsidiary_journal_species == 3 %>
          <tr class="warning">
        <% elsif account.subsidiary_journal_species == 4 %>
          <tr class="danger">
        <% end %>
          <% if account.subsidiary_journal_species == 1 %>
            <td><%= l(account.accounting_date, format: :short) %></td>
            <td><%= account.description %></td>
            
            <% if account.expense.present? %>
            <td>
              <div>
                <%= account.account_title %>
                <% if account.individual_amount.present? %>
                　￥<%= account.individual_amount %>
                <% end %>
              </div>
              <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                <div>
                  <%= account.account_title_2 %>
                  　￥<%= account.individual_amount_2 %>
                </div>
              <% end %>
              <% if account.account_title_3.present? %>
                <div>
                  <%= account.account_title_3 %>
                  　￥<%= account.individual_amount_3 %>
                </div>
              <% end %>
              <% if account.account_title_4.present? %>
                <div>
                  <%= account.account_title_4 %>
                  　￥<%= account.individual_amount_4 %>
                </div>
              <% end %>
              <% if account.account_title_5.present? %>
                <div>
                  <%= account.account_title_5 %>
                  　￥<%= account.individual_amount_5 %>
                </div>
              <% end %>
            </td>
            <% else %>
              <td>現金</td>
            <% end %>
            
            <% if account.income.present? %>
              <td><%= account.income %></td>
            <% elsif account.expense.present? %>
              <td><%= account.expense %></td>
            <% end %>
            
            <% if account.income.present? %>
            <td>
              <div>
                <%= account.account_title %>
                <% if account.individual_amount.present? %>
                　￥<%= account.individual_amount %>
                <% end %>
              </div>
              <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                <div>
                  <%= account.account_title_2 %>
                  　￥<%= account.individual_amount_2 %>
                </div>
              <% end %>
              <% if account.account_title_3.present? %>
                <div>
                  <%= account.account_title_3 %>
                  　￥<%= account.individual_amount_3 %>
                </div>
              <% end %>
              <% if account.account_title_4.present? %>
                <div>
                  <%= account.account_title_4 %>
                  　￥<%= account.individual_amount_4 %>
                </div>
              <% end %>
              <% if account.account_title_5.present? %>
                <div>
                  <%= account.account_title_5 %>
                  　￥<%= account.individual_amount_5 %>
                </div>
              <% end %>
            </td>
            <% else %>
              <td>現金</td>
            <% end %>
            
            <% if account.expense.present? %>
              <td><%= account.expense %></td>
            <% elsif account.income.present? %>
              <td><%= account.income %></td>
            <% end %>
          <% end %>
          
          <% if account.subsidiary_journal_species == 2 %>
            <td><%= l(account.accounting_date, format: :short) %></td>
            <td><%= account.description %></td>
            
            <% if account.drawer.present? %>
            <td>
              <div>
                <%= account.account_title %>
                <% if account.individual_amount.present? %>
                　￥<%= account.individual_amount %>
                <% end %>
              </div>
              <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                <div>
                  <%= account.account_title_2 %>
                  　￥<%= account.individual_amount_2 %>
                </div>
              <% end %>
              <% if account.account_title_3.present? %>
                <div>
                  <%= account.account_title_3 %>
                  　￥<%= account.individual_amount_3 %>
                </div>
              <% end %>
              <% if account.account_title_4.present? %>
                <div>
                  <%= account.account_title_4 %>
                  　￥<%= account.individual_amount_4 %>
                </div>
              <% end %>
              <% if account.account_title_5.present? %>
                <div>
                  <%= account.account_title_5 %>
                  　￥<%= account.individual_amount_5 %>
                </div>
              <% end %>
            </td>
            <% else %>
              <td>当座預金</td>
            <% end %>
            
            <% if account.deposit.present? %>
              <td><%= account.deposit %></td>
            <% elsif account.drawer.present? %>
              <td><%= account.drawer %></td>
            <% end %>
            
            <% if account.deposit.present? %>
            <td>
              <div>
                <%= account.account_title %>
                <% if account.individual_amount.present? %>
                　￥<%= account.individual_amount %>
                <% end %>
              </div>
              <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                <div>
                  <%= account.account_title_2 %>
                  　￥<%= account.individual_amount_2 %>
                </div>
              <% end %>
              <% if account.account_title_3.present? %>
                <div>
                  <%= account.account_title_3 %>
                  　￥<%= account.individual_amount_3 %>
                </div>
              <% end %>
              <% if account.account_title_4.present? %>
                <div>
                  <%= account.account_title_4 %>
                  　￥<%= account.individual_amount_4 %>
                </div>
              <% end %>
              <% if account.account_title_5.present? %>
                <div>
                  <%= account.account_title_5 %>
                  　￥<%= account.individual_amount_5 %>
                </div>
              <% end %>
            </td>
            <% else %>
              <td>当座預金</td>
            <% end %>
            
            <% if account.drawer.present? %>
              <td><%= account.drawer %></td>
            <% elsif account.deposit.present? %>
              <td><%= account.deposit %></td>
            <% end %>
          <% end %>
          
          <% if account.subsidiary_journal_species == 3 %>
            <td><%= l(account.accounting_date, format: :short) %></td>
            <td><%= account.product_name %></td>
            
            <% if account.return_check_box. == "1" %>
            <td>
              <div>
                <%= account.account_title %>
                <% if account.individual_amount.present? %>
                　￥<%= account.individual_amount %>
                <% end %>
              </div>
              <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                <div>
                  <%= account.account_title_2 %>
                  　￥<%= account.individual_amount_2 %>
                </div>
              <% end %>
              <% if account.account_title_3.present? %>
                <div>
                  <%= account.account_title_3 %>
                  　￥<%= account.individual_amount_3 %>
                </div>
              <% end %>
              <% if account.account_title_4.present? %>
                <div>
                  <%= account.account_title_4 %>
                  　￥<%= account.individual_amount_4 %>
                </div>
              <% end %>
              <% if account.account_title_5.present? %>
                <div>
                  <%= account.account_title_5 %>
                  　￥<%= account.individual_amount_5 %>
                </div>
              <% end %>
            </td>
            <% else %>
              <td>仕入</td>
            <% end %>
            <td><%= account.breakdown %></td>
            
            <% if account.return_check_box. == "0" %>
            <td>
              <div>
                <%= account.account_title %>
                <% if account.individual_amount.present? %>
                　￥<%= account.individual_amount %>
                <% end %>
              </div>
              <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                <div>
                  <%= account.account_title_2 %>
                  　￥<%= account.individual_amount_2 %>
                </div>
              <% end %>
              <% if account.account_title_3.present? %>
                <div>
                  <%= account.account_title_3 %>
                  　￥<%= account.individual_amount_3 %>
                </div>
              <% end %>
              <% if account.account_title_4.present? %>
                <div>
                  <%= account.account_title_4 %>
                  　￥<%= account.individual_amount_4 %>
                </div>
              <% end %>
              <% if account.account_title_5.present? %>
                <div>
                  <%= account.account_title_5 %>
                  　￥<%= account.individual_amount_5 %>
                </div>
              <% end %>
            </td>
            <% else %>
              <td>仕入</td>
            <% end %>
            <td><%= account.breakdown %></td>
          <% end %>
          
          <% if account.subsidiary_journal_species == 4 %>
            <td><%= l(account.accounting_date, format: :short) %></td>
            <td><%= account.product_name %></td>
            
            <% if account.return_check_box. == "0" %>
            <td>
              <div>
                <%= account.account_title %>
                <% if account.individual_amount.present? %>
                　￥<%= account.individual_amount %>
                <% end %>
              </div>
              <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                <div>
                  <%= account.account_title_2 %>
                  　￥<%= account.individual_amount_2 %>
                </div>
              <% end %>
              <% if account.account_title_3.present? %>
                <div>
                  <%= account.account_title_3 %>
                  　￥<%= account.individual_amount_3 %>
                </div>
              <% end %>
              <% if account.account_title_4.present? %>
                <div>
                  <%= account.account_title_4 %>
                  　￥<%= account.individual_amount_4 %>
                </div>
              <% end %>
              <% if account.account_title_5.present? %>
                <div>
                  <%= account.account_title_5 %>
                  　￥<%= account.individual_amount_5 %>
                </div>
              <% end %>
            </td>
            <% else %>
              <td>売上</td>
            <% end %>
            <td><%= account.breakdown %></td>
            
            <% if account.return_check_box. == "1" %>
            <td>
              <div>
                <%= account.account_title %>
                <% if account.individual_amount.present? %>
                　￥<%= account.individual_amount %>
                <% end %>
              </div>
              <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                <div>
                  <%= account.account_title_2 %>
                  　￥<%= account.individual_amount_2 %>
                </div>
              <% end %>
              <% if account.account_title_3.present? %>
                <div>
                  <%= account.account_title_3 %>
                  　￥<%= account.individual_amount_3 %>
                </div>
              <% end %>
              <% if account.account_title_4.present? %>
                <div>
                  <%= account.account_title_4 %>
                  　￥<%= account.individual_amount_4 %>
                </div>
              <% end %>
              <% if account.account_title_5.present? %>
                <div>
                  <%= account.account_title_5 %>
                  　￥<%= account.individual_amount_5 %>
                </div>
              <% end %>
            </td>
            <% else %>
              <td>売上</td>
            <% end %>
            <td><%= account.breakdown %></td>
          <% end %>
            <td>
              <%= link_to journal_species(account.subsidiary_journal_species), show_link(account, account.subsidiary_journal_species), remote: true, class: journal_btn(account.subsidiary_journal_species) %>
              <%= link_to "編集", edit_link(account, account.subsidiary_journal_species), remote: true, class: "btn btn-default" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    
  </table>
</div>

<div id="cash_edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="current_edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="purchasing_edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="cash_show" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="current_show" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="purchasing_show" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="show" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>