<%= provide(:title, '仕訳帳') %>

<h2><%= l(@first_day, format: :month) %>仕訳帳</h2>
<% if @accounts.present? %>
  <div class="btn-spacing">
    <% unless @first_day <= @accounts.first.accounting_date %>
      <%= link_to "⇦ 月", journal_books_accounts_path(accounting_date: @first_day.prev_month), class: "btn btn-info" %>
    <% else %>
      <%= link_to "⇦ 月", journal_books_accounts_path(accounting_date: @first_day.prev_month), class: "btn btn-info disabled" %>
    <% end %>
    <% unless @first_day >= @today.beginning_of_month %>
      <%= link_to "月 ⇨", journal_books_accounts_path(accounting_date: @first_day.next_month), class: "btn btn-info" %>
    <% else %>
      <%= link_to "月 ⇨", journal_books_accounts_path(accounting_date: @first_day.next_month), class: "btn btn-info disabled" %>
    <% end %>
    <% unless @first_day.prev_year <= @accounts.first.accounting_date %>
      <%= link_to "⇦ 年", journal_books_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success" %>
    <% else %>
      <%= link_to "⇦ 年", journal_books_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success disabled" %>
    <% end %>
    <% unless @first_day.next_year >= @today %>
      <%= link_to "年 ⇨", journal_books_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success" %>
    <% else %>
      <%= link_to "年 ⇨", journal_books_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success disabled" %>
    <% end %>
    <% unless @first_day <= @accounts.first.accounting_date %>
      <%= link_to "⇦ 先頭", journal_books_accounts_path(accounting_date: @accounts.first.accounting_date.beginning_of_month), class: "btn btn-danger" %>
    <% else %>
      <%= link_to "⇦ 先頭", journal_books_accounts_path(accounting_date: @accounts.first.accounting_date.beginning_of_month), class: "btn btn-danger disabled" %>
    <% end %>
    <% unless @first_day >= @accounts.last.accounting_date.beginning_of_month %>
      <%= link_to "末尾 ⇨", journal_books_accounts_path(accounting_date: @accounts.last.accounting_date.beginning_of_month), class: "btn btn-danger" %>
    <% else %>
      <%= link_to "末尾 ⇨", journal_books_accounts_path(accounting_date: @accounts.last.accounting_date.beginning_of_month), class: "btn btn-danger disabled" %>
    <% end %>
  </div>
<% end %>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-account">
    <thead>
      <tr>
        <th>日付</th>
        <th>適要</th>
        <th>勘定科目</th>
        <th>借方</th>
        <th>勘定科目</th>
        <th>貸方</th>
        <th>詳細／編集</th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <% if @this_month.include?(Date.parse(account[:accounting_date].to_s)) %>
          <tr>
            <% if account.accounting_date.wday == 6 %>
              <td><font color="blue"><%= l(account.accounting_date, format: :short2) %></font></td>
            <% elsif account.accounting_date.wday == 0 %>
              <td><font color="red"><%= l(account.accounting_date, format: :short2) %></font></td>
            <% else %>
              <td><%= l(account.accounting_date, format: :short2) %></td>
            <% end %>
            <td width="500"><% account.compound_journals.each do |compound| %><%= compound.description %></br><% end %></td>
            <td><% account.compound_journals.each do |compound| %><%= compound.account_title %></br><% end %></td>
            <td><% account.compound_journals.each do |compound| %><%= "#{(compound.amount.to_i).to_s(:delimited)}円" %></br><% end %></td>
            <td><% account.compound_journals.each do |compound| %><%= compound.right_account_title %></br><% end %></td>
            <td><% account.compound_journals.each do |compound| %><%= "#{(compound.right_amount.to_i).to_s(:delimited)}円" %></br><% end %></td>
            <td>
              <%= link_to "編集", transfer_slip_edit_account_path(account), class: "btn btn-default" %>
              <%= link_to "削除", transfer_slip_destroy_account_path(account), method: :delete,
                    data: { confirm: "#{l(account.accounting_date, format: :long)}のデータを削除してよろしいですか？" },
                    class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>