<%= provide(:title, 'レシートから作成') %>
<%= provide(:class_text, 'account--form') %>
<div class="min-separator"></div>
<div class="orc-wrap">
  <%= form_with(model: @account, url: ocr_create_accounts_path, local: true, method: :post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="ocr-accounting-date">
      <%= f.label :accounting_date, class: "required label-#{yield(:class_text)}" %>
      <%= f.date_field :accounting_date, value: @today, required: true, class: "form-control" %>
      <div class="min-separator"></div>
    </div>
    <%= f.fields_for :compound_journals do |c_j| %>
      <div class="ocr-right-accounting-title">
        <div class="required font-bold">貸方<%= c_j.label :account_title, class: "label-#{yield(:class_text)}" %></div>
        <%= c_j.select :right_account_title, @ocr_right_account_titles, {include_blank: true}, required: true, class: "form-control" %>
      </div>
      <div class="ocr-accounting-title">
        <div class="required font-bold">借方<%= c_j.label :account_title, class: "label-#{yield(:class_text)}" %></div>
        <%= c_j.select :account_title, @ocr_account_titles, {include_blank: true}, required: true, class: "form-control" %>
      </div>
      <div class="min-separator"></div>
      <h2 class="ocr-title">レシートを選択してください</h2>
      <div class="app-description">
        <%= c_j.file_field :image, id: :menu_img%>
        <div class="min-separator"></div>
        <div>
          <% if @account.image.present? %>
            <%= image_tag @account.image.url, width: "100%", class: "image-border", id: :menu_img_prev %>
          <% else %>
            <%= image_tag "/no_image.png", width: "100%", class: "image-border", id: :menu_img_prev %>
          <% end %>
        </div>
      </div>
      <div class="min-separator"></div>
      <p>フリーランスの人が１人でカフェで仕事をした場合、経費にすることが可能です。その場合の勘定科目は「会議費」になります。「飲み物代」だけで「食べ物代」は経費になりません。</p>
      <p>ただし、仕事上で研究や視察を目的とした「飲食代」は経費になるようです。その場合、税務調査でプライベートと疑われないためにも、撮影写真やレポートなどの「証拠」を残しておくとよいです。勘定科目は「研究費」がおすすめです。</p>
      <div class="min-separator"></div>
    <% end %>
    <div class="btn-space">
      <%= f.submit "登録", class: "btn btn-block btn-primary" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#menu_img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#menu_img").change(function(){
      readURL(this);
      $('.ocr-accounting-date').show();
      $('.ocr-accounting-title').show();
      $('.ocr-right-accounting-title').show();
      $('.ocr-title').hide();
    });

    $('.ocr-accounting-date').hide();
    $('.ocr-accounting-title').hide();
    $('.ocr-right-accounting-title').hide();
  });
</script>
