<%= provide(:title, '損益計算書') %>

<h2><%= l(@this_year.first, format: :year) %>損益計算書</h2>

<div class="btn-spacing">
  <% unless @first_day.prev_year <= @accounts.first.accounting_date %>
    <%= link_to "⇦ 年", profit_and_loss_statement_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success" %>
  <% else %>
    <%= link_to "⇦ 年", profit_and_loss_statement_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day.next_year >= @today %>
    <%= link_to "年 ⇨", profit_and_loss_statement_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success" %>
  <% else %>
    <%= link_to "年 ⇨", profit_and_loss_statement_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day <= @accounts.first.accounting_date %>
    <%= link_to "⇦ 先頭", profit_and_loss_statement_accounts_path(accounting_date: @accounts.first.accounting_date.beginning_of_month), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "⇦ 先頭", profit_and_loss_statement_accounts_path(accounting_date: @accounts.first.accounting_date.beginning_of_month), class: "btn btn-danger disabled" %>
  <% end %>
  <% unless @first_day >= @accounts.last.accounting_date.beginning_of_month %>
    <%= link_to "末尾 ⇨", profit_and_loss_statement_accounts_path(accounting_date: @accounts.last.accounting_date.beginning_of_month), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "末尾 ⇨", profit_and_loss_statement_accounts_path(accounting_date: @accounts.last.accounting_date.beginning_of_month), class: "btn btn-danger disabled" %>
  <% end %>
</div>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-account">
    <thead>
      <tr>
      </tr>
    </thead>
    
    <tbody>
      <tr class="bg-info">
        <td>売上高</td>
        <td><%= "#{amount_of_sales_sum.to_s(:delimited)}円" %></td>
      </tr>
      <tr class="bg-danger">
        <td>売上原価</td>
        <td><%= "#{cost_of_sales_sum.to_s(:delimited)}円" %></td>
      </tr>
      <% @cost_of_sales.each do |cost_of_sale| %>
        <tr>
          <td>　　　　<%= cost_of_sale %></td>
          <td class="text-right"><%= "#{left_calc(cost_of_sale).to_s(:delimited)}円"%></td>
        </tr>
      <% end %>
      <tr class="bg-success">
        <td>売上総利益</td>
        <td><%= "#{gross_profit.to_s(:delimited)}円" %></td>
      </tr>
      <tr class="bg-danger">
        <td>販売費及一般管理費</td>
        <td><%= "#{administrative_expenses_sum.to_s(:delimited)}円" %></td>
      </tr>
      <% @administrative_expenses.each do |administrative_expense| %>
        <tr>
          <td>　　　　<%= administrative_expense %></td>
          <td class="text-right"><%= "#{left_calc(administrative_expense).to_s(:delimited)}円"%></td>
        </tr>
      <% end %>
      
      <tr class="bg-success">
        <td>営業利益</td>
        <td><%= "#{operating_income.to_s(:delimited)}円" %></td>
      </tr>
      <tr class="bg-info">
        <td>営業外収益</td>
        <td><%= "#{non_operating_income_sum.to_s(:delimited)}円" %></td>
      </tr>
      <% @non_operating_income.each do |non_operating_income| %>
        <tr>
          <td>　　　　<%= non_operating_income %></td>
          <td class="text-right"><%= "#{right_calc(non_operating_income).to_s(:delimited)}円"%></td>
        </tr>
      <% end %>
      <tr class="bg-danger">
        <td>営業外費用</td>
        <td><%= "#{non_operating_expenses_sum.to_s(:delimited)}円" %></td>
      </tr>
      <% @non_operating_expenses.each do |non_operating_expense| %>
        <tr>
          <td>　　　　<%= non_operating_expense %></td>
          <td class="text-right"><%= "#{right_calc(non_operating_expense).to_s(:delimited)}円"%></td>
        </tr>
      <% end %>
      <tr class="bg-success">
        <td>経常利益</td>
        <td><%= "#{ordinary_income.to_s(:delimited)}円" %></td>
      </tr>
      <tr class="bg-info">
        <td>特別利益</td>
        <td><%= "#{extraordinary_gains_sum.to_s(:delimited)}円" %></td>
      </tr>
      <% @extraordinary_gains.each do |extraordinary_gain| %>
        <tr>
          <td>　　　　<%= extraordinary_gain %></td>
          <td class="text-right"><%= "#{right_calc(extraordinary_gain).to_s(:delimited)}円"%></td>
        </tr>
      <% end %>
      
      
      <tr class="bg-danger">
        <td>特別損失</td>
        <td><%= "#{extraordinary_loss_sum.to_s(:delimited)}円" %></td>
      </tr>
      <% @extraordinary_loss.each do |extraordinary_loss| %>
        <tr>
          <td>　　　　<%= extraordinary_loss %></td>
          <td class="text-right"><%= "#{right_calc(extraordinary_loss).to_s(:delimited)}円"%></td>
        </tr>
      <% end %>
      
      <tr class="bg-success">
        <td>税引前当期純利益</td>
        <td><%= "#{current_net_benefit_before_tax_citation.to_s(:delimited)}円" %></td>
      </tr>
      <tr>
        <td>法人税･住民税及び事業税</td>
        <td><%= "#{corporate_inhabitant_and_enterprise_taxes_sum.to_s(:delimited)}円" %></td>
      </tr>
      <tr class="bg-success">
        <td>当期純利益</td>
        <td><%= "#{current_net_income.to_s(:delimited)}円" %></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>