<%= provide(:title, '仕入帳作成') %>
<%= provide(:class_text, 'account--form') %>

<h2>仕入帳作成</h2>

<div>
  <%= form_with(model: @account, url: purchasing_create_accounts_path, local: true, method: :post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <table class="table table-bordered table-condensed table-hover" id="table-account">
      <thead>
        <tr>
          <th><%= f.label :accounting_date, class: "label-#{yield(:class_text)}" %></th>
          <th><%= f.label :customer, class: "label-#{yield(:class_text)}" %></th>
          <th><%= f.label :receiving_method, class: "label-#{yield(:class_text)}" %></th>
          <th><%= f.label :product_name, class: "label-#{yield(:class_text)}" %></th>
          <th><%= f.label :quantity, class: "label-#{yield(:class_text)}" %></th>
          <th><%= f.label :unit_price, class: "label-#{yield(:class_text)}" %></th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td><%= f.date_field :accounting_date, required: true, class: "form-control" %></td>
          <td><%= f.text_field :customer, required: true, placeholder: "入力必須", class: "form-control" %></td>
          <td><%= f.text_field :receiving_method, class: "form-control" %></td>
          <td><%= f.text_field :product_name, class: "form-control" %></td>
          <td><%= f.text_field :quantity, required: true, placeholder: "入力必須", class: "form-control" %></td>
          <td><%= f.text_field :unit_price, required: true, placeholder: "入力必須", class: "form-control" %></td>
          <%= f.hidden_field :subsidiary_journal_species, value: 3 %>
        </tr>
      </tbody>
    </table>
    <div>
      <%= f.submit "作成", class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
    </div>
  <% end %>
</div>