<%= provide(:title, '仕入帳') %>

<h2><%= l(@first_day, format: :month) %>仕入帳</h2>

<div class="btn-users-show">
  <% unless @first_day <= @purchasing_accounts.first.accounting_date %>
    <%= link_to "⇦ 月", purchasing_index_accounts_path(accounting_date: @first_day.prev_month), class: "btn btn-info" %>
  <% else %>
    <%= link_to "⇦ 月", purchasing_index_accounts_path(accounting_date: @first_day.prev_month), class: "btn btn-info disabled" %>
  <% end %>
  <% unless @first_day >= @today.beginning_of_month %>
    <%= link_to "月 ⇨", purchasing_index_accounts_path(accounting_date: @first_day.next_month), class: "btn btn-info" %>
  <% else %>
    <%= link_to "月 ⇨", purchasing_index_accounts_path(accounting_date: @first_day.next_month), class: "btn btn-info disabled" %>
  <% end %>
  <% unless @first_day.prev_year <= @purchasing_accounts.first.accounting_date %>
    <%= link_to "⇦ 年", purchasing_index_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success" %>
  <% else %>
    <%= link_to "⇦ 年", purchasing_index_accounts_path(accounting_date: @first_day.prev_year), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day.next_year >= @today %>
    <%= link_to "年 ⇨", purchasing_index_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success" %>
  <% else %>
    <%= link_to "年 ⇨", purchasing_index_accounts_path(accounting_date: @first_day.next_year), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day <= @purchasing_accounts.first.accounting_date %>
    <%= link_to "⇦ 先頭", purchasing_index_accounts_path(accounting_date: @purchasing_accounts.first.accounting_date.beginning_of_month), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "⇦ 先頭", purchasing_index_accounts_path(accounting_date: @purchasing_accounts.first.accounting_date.beginning_of_month), class: "btn btn-danger disabled" %>
  <% end %>
  <% unless @first_day >= @purchasing_accounts.last.accounting_date.beginning_of_month %>
    <%= link_to "末尾 ⇨", purchasing_index_accounts_path(accounting_date: @purchasing_accounts.last.accounting_date.beginning_of_month), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "末尾 ⇨", purchasing_index_accounts_path(accounting_date: @purchasing_accounts.last.accounting_date.beginning_of_month), class: "btn btn-danger disabled" %>
  <% end %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-account">
    <thead>
      <tr>
        <th>日付</th>
        <th>得意先</th>
        <th>勘定科目</th>
        <th>商品名</th>
        <th>数量</th>
        <th>単価</th>
        <th>内訳</th>
        <th>金額</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @purchasing_accounts.zip(@purchasing_next_accounts, @purchasing_before_accounts) do |account, next_a, before_a| %>
        <% if @this_month.include?(Date.parse(account[:accounting_date].to_s)) %>
          <% if account.return_check_box == "1" %>
            <tr style="color:red">
          <% else %>
            <tr>
          <% end %>
            <% if account.accounting_date != before_a.accounting_date || account.customer != before_a.customer || account.return_check_box == "1" && before_a.return_check_box == "0" %>
              <td><%= l(account.accounting_date, format: :short) %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= account.customer %></td>
            <td>
              <% if account.account_title_2.present? || account.account_title_3.present? || account.account_title_4.present? || account.account_title_5.present? %>
                <div>（諸口）</div>
              <% end %>
              <div>
                <%= account.account_title %>
                <% if account.individual_amount.present? %>
                　￥<%= account.individual_amount %>
                <% end %>
              </div>
              <% if account.account_title_2.present? && account.individual_amount_2.present? %>
                <div>
                  <%= account.account_title_2 %>
                  　￥<%= account.individual_amount_2 %>
                </div>
              <% end %>
              <% if account.account_title_3.present? %>
                <div>
                  <%= account.account_title_3 %>
                  　￥<%= account.individual_amount_3 %>
                </div>
              <% end %>
              <% if account.account_title_4.present? %>
                <div>
                  <%= account.account_title_4 %>
                  　￥<%= account.individual_amount_4 %>
                </div>
              <% end %>
              <% if account.account_title_5.present? %>
                <div>
                  <%= account.account_title_5 %>
                  　￥<%= account.individual_amount_5 %>
                </div>
              <% end %>
            </td>
            <td><%= account.product_name %></td>
            <td><%= account.quantity %></td>
            <td>￥<%= account.unit_price %></td>
            
            <% if account.quantity.present? && account.unit_price.present? && account.breakdown.present? && account.accounting_date == next_a.accounting_date && account.customer == next_a.customer && account.return_check_box == next_a.return_check_box || account.accounting_date == before_a.accounting_date && account.customer == before_a.customer && account.return_check_box == before_a.return_check_box %>
              <td>￥<%= account.breakdown %></td>
            <% else %>
              <td></td>
            <% end %>
              
            <% if account.quantity.present? && account.unit_price.present? && account.amount.present? %>
              <td>￥<%= account.amount %></td>
            <% else %>
              <td></td>
            <% end %>
              
            <td class="center">
              <%= link_to "修正", purchasing_edit_account_path(account), remote: true, class: "btn btn-primary" %>
              <%= link_to "削除", purchasing_destroy_account_path(account), method: :delete,
                                  data: { confirm: "#{l(account.accounting_date, format: :long)}のデータを削除してよろしいですか？" },
                                  class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr class="separator">
        <td></td>
        <td colspan="5"></td>
        <td>総仕入高</td>
        <td>￥<%= @total_purchase_amount %></td>
        <td></td>
      </tr>
      <tr style="color:red" class="separator">
        <td></td>
        <td colspan="5"></td>
        <td>仕入戻し高</td>
        <td>￥<%= @stock_returns_amount %></td>
        <td></td>
      </tr>
      <tr class="separator">
        <td></td>
        <td colspan="5"></td>
        <td>純仕入高</td>
        <td>￥<%= @net_purchase %></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div id="purchasing_edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>