<%= provide(:title, '仕入帳作成') %>
<%= provide(:class_text, 'account--form') %>

<h2>仕入帳作成</h2>

<div>
  <%= form_with(model: @account, url: purchasing_create_accounts_path, local: true, method: :post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <table class="table table-bordered table-condensed table-hover" id="table-account">
      <thead>
        <tr>
          <th><%= f.label :accounting_date, class: "label-#{yield(:class_text)}" %></th>
          <td><%= f.date_field :accounting_date, required: true, class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :customer, class: "label-#{yield(:class_text)}" %></th>
          <td><%= f.text_field :customer, required: true, placeholder: "入力必須", class: "form-control" %></td>
        </tr>
        </tr>
          <th>
            <%= f.label :account_title, class: "label-#{yield(:class_text)}" %>
          </th>
          <td>
            <%= f.label :account_title, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :account_title, required: true, placeholder: "入力必須", class: "form-control" %>
            <div class="collapse" id="collapseNew">
              <%= f.label :individual_amount, class: "label-#{yield(:class_text)} bg-success" %>
              <%= f.text_field :individual_amount, class: "form-control" %>
              <%= f.label :account_title_2, class: "label-#{yield(:class_text)}" %>
              <%= f.text_field :account_title_2, class: "form-control" %>
              <%= f.label :individual_amount_2, class: "label-#{yield(:class_text)} bg-success" %>
              <%= f.text_field :individual_amount_2, class: "form-control" %>
              <%= f.label :account_title_3, class: "label-#{yield(:class_text)}" %>
              <%= f.text_field :account_title_3, class: "form-control" %>
              <%= f.label :individual_amount_3, class: "label-#{yield(:class_text)} bg-success" %>
              <%= f.text_field :individual_amount_3, class: "form-control" %>
              <%= f.label :account_title_4, class: "label-#{yield(:class_text)}" %>
              <%= f.text_field :account_title_4, class: "form-control" %>
              <%= f.label :individual_amount_4, class: "label-#{yield(:class_text)} bg-success" %>
              <%= f.text_field :individual_amount_4, class: "form-control" %>
              <%= f.label :account_title_5, class: "label-#{yield(:class_text)}" %>
              <%= f.text_field :account_title_5, class: "form-control" %>
              <%= f.label :individual_amount_5, class: "label-#{yield(:class_text)} bg-success" %>
              <%= f.text_field :individual_amount_5, class: "form-control" %>
            </div>
          <button type="button" class="btn btn-primary label-account--form" data-toggle="collapse" data-target="#collapseNew" aria-expanded="false" aria-controls="collapseNew">複合仕訳</button>
          </td>
        </tr>
        <tr>
          <th><%= f.label :product_name, class: "label-#{yield(:class_text)}" %></th>
          <td><%= f.text_field :product_name, class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :quantity, class: "label-#{yield(:class_text)}" %></th>
          <td><%= f.text_field :quantity, required: true, placeholder: "入力必須", class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :unit_price, class: "label-#{yield(:class_text)}" %></th>
          <td><%= f.text_field :unit_price, required: true, placeholder: "入力必須", class: "form-control" %></td>
        </tr>
        <%= f.hidden_field :subsidiary_journal_species, value: 3 %>
      </thead>
    </table>
    <div>
      <label>仕入戻し</label>
      <%= f.check_box :return_check_box, class: "form-check-input" %>
    </div>
    <div>
      <%= f.submit "作成", class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
    </div>
  <% end %>
</div>