<%= provide(:title, "総勘定元帳(#{@param_account_title})") %>

<h2><%= l(@first_day, format: :month) %>総勘定元帳【<%= @param_account_title %>】</h2>

<div class="btn-spacing">
  <% unless @first_day <= @general_ledger_accounts.first.accounting_date %>
    <%= link_to "⇦ 月", sub_master_general_ledger_accounts_path(accounting_date: @first_day.prev_month, param_account_title: @param_account_title), class: "btn btn-info" %>
  <% else %>
    <%= link_to "⇦ 月", sub_master_general_ledger_accounts_path(accounting_date: @first_day.prev_month, param_account_title: @param_account_title), class: "btn btn-info disabled" %>
  <% end %>
  <% unless @first_day >= @today.beginning_of_month %>
    <%= link_to "月 ⇨", sub_master_general_ledger_accounts_path(accounting_date: @first_day.next_month, param_account_title: @param_account_title), class: "btn btn-info" %>
  <% else %>
    <%= link_to "月 ⇨", sub_master_general_ledger_accounts_path(accounting_date: @first_day.next_month, param_account_title: @param_account_title), class: "btn btn-info disabled" %>
  <% end %>
  <% unless @first_day.prev_year <= @general_ledger_accounts.first.accounting_date %>
    <%= link_to "⇦ 年", sub_master_general_ledger_accounts_path(accounting_date: @first_day.prev_year, param_account_title: @param_account_title), class: "btn btn-success" %>
  <% else %>
    <%= link_to "⇦ 年", sub_master_general_ledger_accounts_path(accounting_date: @first_day.prev_year, param_account_title: @param_account_title), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day.next_year >= @today %>
    <%= link_to "年 ⇨", sub_master_general_ledger_accounts_path(accounting_date: @first_day.next_year, param_account_title: @param_account_title), class: "btn btn-success" %>
  <% else %>
    <%= link_to "年 ⇨", sub_master_general_ledger_accounts_path(accounting_date: @first_day.next_year, param_account_title: @param_account_title), class: "btn btn-success disabled" %>
  <% end %>
  <% unless @first_day <= @general_ledger_accounts.first.accounting_date %>
    <%= link_to "⇦ 先頭", sub_master_general_ledger_accounts_path(accounting_date: @general_ledger_accounts.first.accounting_date.beginning_of_month, param_account_title: @param_account_title), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "⇦ 先頭", sub_master_general_ledger_accounts_path(accounting_date: @general_ledger_accounts.first.accounting_date.beginning_of_month, param_account_title: @param_account_title), class: "btn btn-danger disabled" %>
  <% end %>
  <% unless @first_day >= @general_ledger_accounts.last.accounting_date.beginning_of_month %>
    <%= link_to "末尾 ⇨", sub_master_general_ledger_accounts_path(accounting_date: @general_ledger_accounts.last.accounting_date.beginning_of_month, param_account_title: @param_account_title), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "末尾 ⇨", sub_master_general_ledger_accounts_path(accounting_date: @general_ledger_accounts.last.accounting_date.beginning_of_month, param_account_title: @param_account_title), class: "btn btn-danger disabled" %>
  <% end %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-account">
    <thead>
      <tr>
        <th>日付</th>
        <th>相手勘定科目</th>
        <th>摘要</th>
        <th>借方金額</th>
        <th>貸方金額</th>
        <th>残高</th>
        <th>仕訳帳</th>
      </tr>
      <tr class="bg-success">
        <td colspan="4"></td>
        <td>前月より繰越</td>
        <td><%= sub_carried_forward_balance %></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @sub_general_ledger_balance = @sub_carried_forward_balance %>
      <% @general_ledger_accounts.each do |account| %>
      <% if @this_month.include?(Date.parse(account[:accounting_date].to_s)) %>
        <tr>
          <td><%= l(account.accounting_date, format: :short) %></td>
          <!--<th>相手勘定科目</th>-->
          <td>
            <% if account.compound_journals.count < 2 %>
              <% account.compound_journals.each do |compound_journal| %>
                <% if compound_journal.account_title == @param_account_title %>
                  <%= compound_journal.right_account_title %>
                <% elsif compound_journal.right_account_title == @param_account_title %>
                  <%= compound_journal.account_title %>
                <% end %>
              <% end %>
            <% else %>
              諸口
            <% end %>
          </td>
          <!--<th>摘要</th>-->
          <td>
            <% account.compound_journals.each do |compound_journal| %>
              <% if compound_journal.account_title == @param_account_title %>
                <%= compound_journal.description %></br>
              <% end %>
            <% end %>
          </td>
          <!--<th>借方金額</th>-->
          <td>
            <% account.compound_journals.each do |compound_journal| %>
              <% if compound_journal.account_title == @param_account_title %>
                <%= compound_journal.amount %></br>
              <% end %>
            <% end %>
          </td>
          <!--<th>貸方金額</th>-->
          <td>
            <% account.compound_journals.each do |compound_journal| %>
              <% if compound_journal.right_sub_account_title == @param_account_title %>
                <%= compound_journal.right_amount %></br>
              <% end %>
            <% end %>
          </td>
          <!--<th>残高</th>-->
          <td>
            <% account.compound_journals.each do |compound_journal| %>
              <% if compound_journal.sub_account_title == @param_account_title %>
                <%= sub_general_ledger_balance(compound_journal) %></br>
              <% elsif compound_journal.right_sub_account_title == @param_account_title %>
                <%= sub_right_general_ledger_balance(compound_journal) %></br>
              <% end %>
            <% end %>
          </td>
          <!--<th>仕訳帳</th>-->
          <td>
            <%= link_to "仕訳帳へ", journal_books_accounts_path(accounting_date: account.accounting_date), class: "btn btn-info" %>
          </td>
          
        </tr>
      <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr class="bg-danger">
        <td colspan="4"></td>
        <td>次月繰越</td>
        <td><%= sub_this_month_last_balance %></td>
        <td></td>
      </tr>
      </tfoot>
  </table>
</div>
