<%= provide(:title, '振替伝票編集') %>

<h2><%= l(@account.accounting_date, format: :long) %>の振替伝票編集</h2>
<div class="transfer-wrap">
  <%= form_with(model: @account, url: transfer_slip_update_account_path(@account), method: :patch) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="accounting-date">
      <%= f.label :accounting_date, class: "required label-#{yield(:class_text)}" %>
      <%= f.date_field :accounting_date, required: true, class: "form-control" %>
    </div>

    <%= f.fields_for :compound_journals do |c_j| %>
      <div id="add-slip-row">
        <%= render 'compound_journal_fields', f: c_j %>
      </div>
    <% end %>
    

    <div class="fixed-content">
      <div class="caution-balance-space">
        <div class="bg-danger caution-balance"></div>
      </div>
      <div class="sum">
        <div class="flex-grow">
          <div class="font-bold">借方合計</div>
          <div class="left-message"></div>
        </div>
        <div class="flex-grow">
          <div class="font-bold">貸方合計</div>
          <div class="right-message"></div>
        </div>
      </div>
      <div class="space-between">
        <div class="btn btn-default btn-space clear-btn">
          値クリア
        </div>
        <div class="btn-space">
          <%= link_to_add_association "行追加", f, :compound_journals,
              class: 'btn btn-success',
              data: {
              association_insertion_node: '#add-slip-row',
              association_insertion_method: 'append' }
          %>
        </div>
        <div class="btn-space">
          <%= f.submit "登録", class: "btn btn-primary submit-btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>