<%= provide(:title, '振替伝票編集') %>
<%= provide(:class_text, 'account--form') %>

<h2><%= l(@account.accounting_date, format: :long) %>の振替伝票編集</h2>
<%= form_with(model: @account, url: transfer_slip_update_account_path(@account), method: :patch) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <table class="table table-bordered table-condensed table-hover" id="table-account2">
    <tbody>
      <tr>
        <th colspan="2"><%= f.label :accounting_date, class: "label-#{yield(:class_text)}" %></th>
        <td colspan="2"><%= f.date_field :accounting_date, required: true, class: "form-control" %></td>
      </tr>
      <tr>
        <th colspan="3">借方</th>
        <th colspan="3">貸方</th>
        <th></th>
      </tr>
      <tr>
        <th>
          勘定科目</br>
          補助科目
        </th>
        <th>税区分</th>
        <th class="bg-info">金額</th>
        <th>
          勘定科目</br>
          補助科目
        </th>
        <th>税区分</th>
        <th class="bg-info">金額</th>
        <th><%= f.label :description, class: "label-#{yield(:class_text)}" %></th>
      </tr>
      <%= f.fields_for :compound_journals do |c_j| %>
        <tr>
          <td>
            <div><%= c_j.select :account_title, @transfer_slip_account_title, {include_blank: true}, class: "form-control js-searchable" %></div>
            <div class="compound-journal-form"><%= c_j.select :sub_account_title, @sub_account_title, {include_blank: true}, class: "form-control js-searchable" %></div>
          </td>
          <td><%= c_j.select :tax_rate, @tax_rate, {}, class: "form-control" %></td>
          <td class="bg-info"><%= c_j.number_field :amount, min: 0, class: "left-nested-amount-form form-control" %></td>
          <td>
            <div><%= c_j.select :right_account_title, @transfer_slip_account_title, {include_blank: true}, class: "form-control js-searchable" %></div>
            <div class="compound-journal-form"><%= c_j.select :right_sub_account_title, @sub_account_title, {include_blank: true}, class: "form-control js-searchable" %></div>
          </td>
          <td><%= c_j.select :right_tax_rate, @tax_rate, {}, class: "form-control" %></td>
          <td class="bg-info"><%= c_j.number_field :right_amount, min: 0, class: "right-nested-amount-form form-control" %></td>
          <td><%= c_j.text_field :description, class: "form-control" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <p class="bg-danger caution-balance"></p>
  
  <div class="links">
    <%= link_to_add_association "行追加", f, :compound_journals,
        class: 'btn btn-success',
        data: {
        association_insertion_node: '#table-account2',
        association_insertion_method: 'append' }
    %>
  </div>
  <div><%= f.submit "登録", class: "btn btn-block btn-primary submit-btn btn-#{yield(:class_text)}" %></div>
  
<% end %>
          
<script src="transfer_slip_new.js"></script>